﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/LASC.Master" CodeFile="assets.aspx.cs" Inherits="LASC_ShoppingCart2.assets" %>
 


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
          <div id="page_path">home</div>
         <h1 class="header_title_blue"  id="ModelName_pop" val=""  style="margin-top: -22px;" >Description: </h1> 

        <div id="product_content" style="margin-bottom: 50px;clear:both;">
            <table style="width: 100%;" id="asset_table"   cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width:25%;" >Product</td>
                    <td style="width:25%;">Description<a href="#"></a></td>
                    <td style="width:25%;">Condition</td>
                    <td style="width:25%;">Add To Cart</td>
                </tr>
                 
            </table>

        <div style="width:200px;float:right;margin-right:20px;">

            
      <a href="default.aspx" style="text-decoration:none;">  <div class="has_background_button">Return to Catalogue</div></a>
       <a href="checkout.aspx" style="text-decoration:none;">  <div class="has_background_button">Checkout</div></a>
        </div>

      </div>
    <!-- ---------------- Button--------- -->
    <div  class="arrows" style="margin:auto;clear:both;height: 91px;padding-left: 45px;padding-top: 28px;">
        <table style="margin: 30px auto 30px;">
            <tr>
                <td> <div class="prev_button" style="cursor:pointer;float:left;"><img src="img/flesh_left.png" style="width: 70px;" /></div></td>
                <td><div id="nbr_pages"></div></td>
                <td> <div class="next_button" style="cursor:pointer;float:right;"><img src="img/flesh_right.png"  style="width: 70px;" /></div></td>
            </tr>
             
             
        </table>
      
        
             
    </div>
     <!-- ---------------- End Button--------- -->
    
      <script type="text/javascript" src="js/jquery.min.js"></script>

      <script type="text/javascript">

          $(document).ready(function () {


              //Home pAge Code
              categorieId = getURLParameter('id');
              GetList_asstes_needed(0, categorieId, furnitureID);;//First Page 
              var index_page = 0;
              $('.next_button').click(function () {

                  index_page = parseInt($('.selected_page').html());
                  GetList_asstes_needed(index_page, categorieId, furnitureID);; //Next Page 

              });

              $('.prev_button').click(function () {
                  index_page = parseInt($('.selected_page').html());
                  if (index_page <= 1) return;
                  index_page = parseInt($('.selected_page').html()) - 2;

                  GetList_asstes_needed(index_page, categorieId, furnitureID);;//Next Page 
              });
              //End HOme PAge Code





              


          });



  </script>




</asp:Content>
