﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="asset_order_form.aspx.cs" Inherits="LASC_ShoppingCart2.asset_order_form" %>

  



    <div class="x_button"><img src="img/x_button.png" title="Close" alt="Close" /></div>

<div id="image_loader_pop" style="display: block;"><img src="img/ajax_loader.gif"></div>

<div class="popup_table" style="display:none;">

    <div class="header_popup_image_module_div" ><img class="header_popup_image_module" src=""  /></div>
    <div style="float:left;">
   
     <h1 class="header_title_blue"  id="ModelName_pop" val=""  style="margin-top: -22px;" >Description: </h1> 
     <%--<h2 class="subheader_title_blue"  id="ModelColor_pop"  >Color: </h2> 
     <h2 class="subheader_title_blue"  id="ModelMaterials_pop"  >Materials: </h2> --%>
        </div>


    <div id="product_content" style="margin-bottom: 50px;clear:both;">
            <table style="width: 100%;" id="asset_table"   cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width:25%;" >Product</td>
                    <td style="width:25%;">Description<a href="#"></a></td>
                    <td style="width:25%;">Condition</td>
                    <td style="width:25%;">Add To Cart</td>
                </tr>
                 
            </table>

        <div style="width:200px;float:right;margin-right:20px;">

            
      <a href="default.aspx" style="text-decoration:none;">  <div class="has_background_button">Return to Catalogue</div></a>
       <a href="checkout.aspx" style="text-decoration:none;">  <div class="has_background_button">Checkout</div></a>
        </div>

      </div>
    <!-- ---------------- Button--------- -->
    <div  class="arrows" style="margin:auto;clear:both;height: 91px;padding-left: 45px;padding-top: 28px;">
        <table style="margin: 30px auto 30px;">
            <tr>
                <td> <div class="prev_button" style="cursor:pointer;float:left;"><img src="img/flesh_left.png" style="width: 70px;" /></div></td>
                <td><div id="nbr_pages"></div></td>
                <td> <div class="next_button" style="cursor:pointer;float:right;"><img src="img/flesh_right.png"  style="width: 70px;" /></div></td>
            </tr>
             
             
        </table>
      
        
             
    </div>
     <!-- ---------------- End Button--------- -->
      </div>
    
     <!-- ---------------- End Content--------- -->

     
    <script type="text/javascript" src="js/jquery.min.js"></script>

      <script type="text/javascript">

          $(document).ready(function () {

              
              //Home pAge Code
              categorieId = getURLParameter('id');
              Getasstes_needed(0, categorieId);//First Page 
              var index_page = 0;
              $('.next_button').click(function () {
                 
                  index_page = parseInt($('.selected_page').html());
                  Getasstes_needed(index_page, categorieId); //Next Page 

              });

              $('.prev_button').click(function () {
                  index_page = parseInt($('.selected_page').html());
                  if (index_page <= 1) return;
                  index_page = parseInt($('.selected_page').html()) - 2;
                 
                  Getasstes_needed(index_page, categorieId);//Next Page 
              });
              //End HOme PAge Code


             


              $('.x_button').click(function () {
                  $('#pop_up_box').fadeOut();
              });


             
          });



  </script>



 