﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/LASC.Master" CodeFile="subcategories.aspx.cs" Inherits="LASC_ShoppingCart2.categories" %>



<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
          <div id="page_path">home</div>
        <h1 class="header_title_blue"></h1>

        <div id="product_content"  >
           <h1 class="header_title_blue" id="category_name">Seating</h1>

           
             <div id="sub_cat_div_content">
                

            </div>

      </div>
      
    
     <!-- ---------------- End Content--------- -->

   
    
      <script type="text/javascript">

          $(document).ready(function () {
              //Home pAge Code
              categorieId = getURLParameter('id');
              //furniture_type_id = getURLParameter('ftid');

              GetSubCategories_needed(categorieId);

              var categorie_name = $('.subMenu .selected_cat').html();
              var furniture_type_name = $('.sub_sub_menu .selected_cat').html();
              $('#page_path').html("<a href=\"default.aspx\">Home</a> &#8674; " + categorie_name);
              $('#category_name').html(categorie_name);
            
          });



  </script>




</asp:Content>
